appdirs==1.4.4
autopep8==1.5.3
click==7.1.2
cycler==0.10.0
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mysql-connector-python==8.0.20
numpy==1.18.4
pandas==1.0.3
pycodestyle==2.6.0
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
toml==0.10.1
virtualenv==20.0.21
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
